Listen 0.0.0.0:5000

<Directory /home/isucon/webapp/php>
    Options FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

<VirtualHost 0.0.0.0:5000>
    ServerName localhost
    DocumentRoot /home/isucon/webapp/php
    DirectoryIndex index.php

    RewriteEngine on
    RewriteRule ^/img/(.*)$ /public/img/$1 [L]
    RewriteRule ^/css/(.*)$ /public/css/$1 [L]
    RewriteRule ^/js/(.*)$ /public/js/$1 [L]
    RewriteRule ^(.*)$ /index.php?$1 [L]
</VirtualHost>

