{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('memo_post', _external=True) }}" method="post">
  <input type="hidden" name="sid" value="{{ session.get('token') }}">
  <textarea name="content"></textarea>
  <br>
  <input type="checkbox" name="is_private" value="1"> private
  <input type="submit" value="post">
</form>

<h3>my memos</h3>

<ul>
{% for memo in memos %}
<li>
  <a href="{{ url_for('memo', memo_id=memo.id, _external=True) }}">{{ memo.content.split('\n')[0] }}</a> {{ memo.created_at }}
{% if memo.is_private == 1 %}
[private]
{% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
